@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');


body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #ffffff;
    height: 100%;
}

.App {
    font-family: 'Cormorant Garamond', serif;
    background-color: #C0E9FA;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    min-height: 100vh;
}

.search-bar-input {
    background-color: #FAE1D9;
    display: flex;
    width: 75%;
    height: 3em;
    padding-left: 1em;
}

.search-bar-input:hover {
    background-color: #CDD5FA;
    transition: 0.2s;
}

.search-bar-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar-items {
    display: flex;
    max-width: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.chatContainer {
    width: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.messageContainer {
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#B4FAE9;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid #2F7694;
}

.roomName {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.message {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.NameInput {
    background-color: #FAE1D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

.NameInput:hover {
    background-color: #CDD5FA;
    transition: 0.2s;
}

.MsgInput {
    background-color: #FAE1D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    margin: 5px;
}

.MsgInput:hover {
    background-color: #CDD5FA;
    transition: 0.2s;
}
